#bitcoinPay > a {
    font-weight: 600 !important;
}

#bitcoinPay {
    background-color: #FFFFFF !important;

    border: 2px #BDBDBD solid !important;

    color: #FFB300 !important;

}

.bitcoinPayInput {
    border: 1px #BDBDBD solid !important;

    background-color: #FFFFFF !important;
}

.bitcoinPayButton {
    color: #FFFFFF !important;

    background-color: #FFB300 !important;
}

#bitcoinPayError {
    color: #D50000 !important;

    font-weight: 600 !important;
}

#bitcoinPayCopy {
    border-right: 1px solid #FFFFFF !important;
}

#bitcoinPayExpiry {
    font-weight: 600 !important;
}
